<h1><%= @restaurant.name %></h1>
<h2><%= @restaurant.address %></h2>
<h4><%= @restaurant.phone_number %></h4>
<h4><%= @restaurant.category %></h4>
<br>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %></li>
  <% end %>
</ul>
<br>
<br>
<%= link_to "+ Add a review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
<br>
<br>
<%= link_to "Back to list", restaurants_path, class: "btn btn-primary" %>
